.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movielist-appear {
  opacity: 0.01;
  transform: scale(0);
}
.movielist-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: all 500ms ease-out;
}
.movielist-exit {
  opacity: 1;
  transform: scale(1);
}
.movielist-exit-active {
  opacity: 0.01;
  transform: scale(0.9);
  transition: all 300ms ease-out;
}
.movielist-enter-done:hover {
  transform: scale(1.02);
  transition: all 500ms ease-in-out;
}
.castcrew-enter {
  transform: scale(0);
}
.castcrew-enter-active {
  transform: scale(1);
  transition: all 500ms ease-out;
}

.castcrew-enter-done:hover {
  transform: scale(1.5);
  transition: all 500ms linear;
}
.castcrew-exit {
  opacity: 1;
}
.castcrew-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
